@tailwind base;
@tailwind components;
@tailwind utilities;

*{
        font-family: "Host Grotesk", 'Times New Roman', Times, serif;
        font-optical-sizing: auto;
        font-weight: 300;
        font-style: normal; 
}